body {
  margin: 0;
  font-family: 'Your preferred font', sans-serif;
  background: radial-gradient(circle at center, #333, #000);
  color: #fff;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.user-list {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.user-list-item {
  background-color: #222;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .user-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.user-table {
  width: 100%;
  overflow-x: auto; /* Add horizontal scroll for small screens if needed */
}

/* Styles for the table headers */
.table-row {
  background-color: green;
  border: 1px solid white;
}

/* Responsive styles for table cells */
@media screen  and (max-width: 767px) {
  /* Adjust styles for smaller screens */
  .table td,
  .table th {
    font-size: 12px; /* Adjust font size */
    padding: 8px; /* Adjust padding */
  }

}
